{% extends 'base.html' %}

{% block login %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="font-size: 50px; color:rgb(69, 214, 224)">Cars List</h1>
        </div>
    </div>
</br></br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Car ID</th>
                        <th>Car No.</th>
                        <th>Rent</th>
                        <th>AC</th>
                        <th>Availability</th>
                    </tr>
                </thead>
                <tbody>
                    {% for car in cars %}
                    <tr>
                        <td>{{ car.id }}</td>
                        <td>{{ car.carno }}</td>
                        <td>{{ car.rent }}</td>
                        <td>{{ car.ac }}</td>
                        <td>{{ car.avl }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}